<div class="container mt-5">
  <div class="row">

    <div class="col-4">
      <div class="card user-prof" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%= @user.name %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= @user.id %></h6>
          <section class="stats card-text">
            <%= render 'devise/shared/stats' %>
          </section>
          <br>
          <section class="card-text">
            <%= render 'devise/shared/follow_form' if user_signed_in? %>
          </section>
        </div>
      </div>
    </div>

    <div class="col-8">
      <form class="form-inline my-2 my-lg-0">
        <%= form_tag(profile_path, method: :get, class: "form-inline my-2 my-lg-0") do %>
          <%= text_field_tag :search, "", class: "form-control mr-sm-2", prompt:{}, placeholder: "ユーザー名orメールアドレス" %>
          <%= submit_tag 'Search', name: nil, class: "btn btn-outline-primary my-2 my-sm-0" %>
        <% end %>
      </form>
      <br>
      <table class="table">
        <thead style="background: dodgerblue;">
          <tr>
            <th scope="col">ID：</th>
            <th scope="col">ユーザーネーム：</th>
          </tr>
        </thead>
        <% @users.each do |user| %>
          <tbody>
            <tr>
              <th scope="row"><%= user.id %></th>
              <td><%= link_to user.name, profile_path(user) %></td>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>

  </div>
</div>
