<div class="container mt-5">
  <div class="row">
    <div class="col-12 profile">
      <div class="card-body">
        <h5 class="card-title"><img src="https://img.icons8.com/nolan/64/user-group-man-man.png"/>&nbsp;<%= @user.name %></h5>
        <p class="card-text">
          <%= render 'devise/shared/stats' %>
          <%= render 'devise/shared/follow_form' if user_signed_in? %>
        </p>
        <% if user_signed_in? %>
          <% if @user.id == current_user.id %>
            <%= link_to "アカウント編集", edit_user_registration_path, class: "btn btn-outline-primary btn-sm" %>
            <%= link_to "タスク一覧へ", root_path, class: "btn btn-outline-primary btn-sm" %>
          <% end %>
        <% end %>
        <p class="mt-1 mb-0"><a href="https://icons8.com/icon/43670/user-account" target="_blank">User Account icon by Icons8</a></p>
      </div>
    </div>
  </div>

      <br><br>

  <div class="row">
    <div class="col-12 user-search">
      <form class="form-inline my-2 my-lg-0 pt-4">
        <%= form_tag(profile_path, method: :get, class: "form-inline my-2 my-lg-0") do %>
          <%= text_field_tag :search, "", class: "form-control mr-sm-2", prompt:{}, placeholder: "@ユーザー名" %>
          <%= submit_tag '検索', name: nil, class: "btn btn-outline-primary my-2 my-sm-0" %>
        <% end %>
      </form>
      <br>
      <table class="table">
        <thead style="color: dodgerblue;">
          <tr>
            <th scope="col">ID：</th>
            <th scope="col">ユーザーネーム：</th>
            <th scope="col">フォロー：</th>
            <th scope="col">フォロワー：</th>
          </tr>
        </thead>
        <% @users.each do |user| %>
          <% if user_signed_in? %>
            <% if user.id != current_user.id %>
              <tbody>
                <tr>
                  <th scope="row"><%= user.id %></th>
                  <td style="font-weight:bold;"><%= link_to user.name, profile_path(user) %></td>
                  <td><%= user.followings.count %></td>
                  <td><%= user.followers.count %></td>
                </tr>
              </tbody>
            <% end %>
          <% end %>
        <% end %>
      </table>
      <%= paginate @users %>
    </div>
  </div>
</div>
