<div class="container mt-5">
  <div class="row">
    <div class="col-6 follow-show">
      <h5><%= @user.name %>さんの<%= @title %></h5>
      <% if @users.any? %>
        <table class="table">
          <thead style="background: dodgerblue; color: white;">
            <tr>
              <th scope="col">ID：</th>
              <th scope="col">ユーザーネーム：</th>
              <th scope="col">フォロー：</th>
              <th scope="col">フォロワー：</th>
            </tr>
          </thead>
          <% @users.each do |user| %>
          <tbody>
            <tr>
              <th scope="row"><%= user.id %></th>
              <td><%= link_to user.name, profile_path(user) %></td>
              <td><%= user.followings.count %></td>
              <td><%= user.followers.count %></td>
            </tr>
          </tbody>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
