<% comments.each do |comment| %>
  <div class="card" id="comment-<%= comment.id %>">
    <div class="card-body">
      <%= comment.user.name %>：&emsp;
      <%= comment.body %>　　
      <%= link_to task_comment_path(comment.task, comment), method: :delete, remote: true, data: { confirm: "削除します。よろしいですか。" }, class: "destroy" do %>
        <%= icon('fas', 'trash-alt') %>
      <% end %>
    </div>
  </div>
<% end %>
