<h6 style="color: dodgerblue;"><%= icon('fas', 'flag-checkered') %>　<u>完了</u></h6>
<% tasks.each do |task| %>
  <% if user_signed_in? %>
    <% if task.user_id == current_user.id || task.task_shares.ids.include?(current_user.id) %>
      <% if task.category_id == 3 %>
        <div class="card card-index md-1" id="task-<%= task.id %>">
          <div class="card-body">

            <%# 表示：　タスクタイトル %>
            <h6 class="card-text">
              <img src="https://img.icons8.com/offices/30/000000/whole-fish.png"/>
              <%= link_to task.title, task_path(task) %>
            </h6>
            <%# 表示：　期日 %>
            <p>
              <% if task.term %>
                期日：<%= task.term %>
              <% end %>
            </p>
            <%# 表示：　シェア・タグ %>
            <p style="font-size: 16px;">
              <% if task.task_shares.any? %>
                <%= icon('fas', 'project-diagram', style: "color: red;") %>
                <span class="badge badge-pill badge-danger">Shared</span>
              <% end %>
              <% if task.tags.any? %>
                <%= render task.tags %>
              <% end %>
            </p>
            <%# ボタン：　編集・削除・カテゴリー変更 %>
            <p class="text-right">
              <%= link_to gotowork_task_path(task), method: :patch do %>
                <%= icon('fas', 'arrow-alt-circle-left') %>
              <% end %>
              <% if task.user_id == current_user.id %>
                <%= link_to edit_task_path(task) do %>
                  <%= icon('fas', 'edit') %>
                <% end %>
                <%= link_to task_path(task), method: :delete, remote: true, data: { confirm: "削除します。よろしいですか。" } do %>
                  <%= icon('fas', 'trash-alt') %>
                <% end %>
              <% end %>
            </p>

          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
