<div class="container">
  <%# エラーメッセージ %>
  <div id="error_explanation">
    <%= render 'error' %>
  </div>

  <div class="row mt-5">
    <div class=" task-index-menu col-3">
      <%# ボタン：　プロフィールへ %>
      <div class="mb-3 mt-3">
        <h6><button type="button" class="btn btn-outline-primary link-mypage" ><%= icon('fas', 'user') %>&nbsp;<%= link_to current_user.name, profile_path(current_user.id) %></button></h6>
      </div>

      <%# 検索フォーム %>
      <form class="form-inline my-2 my-lg-0">
        <%= form_tag(tasks_path, method: :get, class: "form-inline my-2 my-lg-0") do %>
          <%= text_field_tag :search, "", class: "form-control mr-sm-2", prompt:{}, placeholder: "タスク名" %><br>
          <p class="mt-3">
            <%= button_tag  type: "submit", title: nil, class: "btn btn-outline-primary " do %>
              <%= icon('fas', 'search') %>検索
            <% end %>
          </p>
        <% end %>
      </form>

      <%# ボタン：　タスク作成 %>
      <div>
        <%= render 'form' %>
      </div>

      <%# ボタン：　タグ作成 %>
      <div class="mb-3 mt-3">
        <h6><button type="button" class="btn btn-outline-primary link-mypage" ><%= icon('fas', 'tags') %>&nbsp;<%= link_to "タグ作成", tags_path %></button></h6>
      </div>

      <%# ボタン：　プロジェクト作成 %>
      <div class="mb-3 mt-3">
        <h6><button type="button" class="btn btn-outline-primary link-mypage" ><%= icon('fas', 'project-diagram') %>&nbsp;<%= link_to "プロジェクト作成(準備中)", root_path %></button></h6>
      </div>

      <%# ボタン：　アクティビティログ %>
      <div class="mb-3 mt-3">
        <h6><button type="button" class="btn btn-outline-primary link-mypage" ><%= icon('fas', 'chart-line') %>&nbsp;<%= link_to "アクティビティログ", activities_path %></button></h6>
      </div>

      <%# ボタン：　通知 %>
      <div class="mb-3 mt-3">
        <h6><button type="button" class="btn btn-outline-primary link-mypage" ><%= icon('fas', 'bell') %>&nbsp;<%= link_to "通知", notifications_path %></button></h6>
      </div>

      <%# ボタン：　ヘルプ%>
      <div class="help" style="color: dodgerblue;">
        <p>
          <button class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            <%= icon('fas', 'question-circle') %>&nbsp;Help
          </button>
        </p>
        <div class="collapse" id="collapseExample">
          <div class="card card-body">
            <h6><li><%= icon('fas', 'edit') %>：編集</li></h6>
            <h6><li><%= icon('fas', 'trash-alt') %>：削除</li></h6>
            <h6><li><%= icon('fas', 'arrow-alt-circle-right') %>：ステータス変更</li></h6>
            <h6><li><%= icon('fas', 'arrow-alt-circle-left') %>：ステータス変更</li></h6>
          </div>
        </div>
      </div>
    </div>

    <%# タスク一覧：各ステータスごとに%>
    <div class="col-3 todolist">
      <%= render 'todolist', tasks: @tasks %>
    </div>
    <div class="col-3 onworking">
      <%= render 'onworking', tasks: @tasks %>
    </div>
    <div class="col-3 completed">
      <%= render 'completed', tasks: @tasks %>
    </div>
  </div>
</div>
