<% if user_signed_in? %>
  <% if @task.user_id == current_user.id || @task.task_shares.ids.include?(current_user.id) %>
    <div class="container task-cont mt-3 mb-3">

      <%# タスクタイトル/カテゴリー %>
      <h2>
        &nbsp;<img src="https://img.icons8.com/offices/40/000000/whole-fish.png"/>&nbsp;<u><%= @task.title %></u>
        <%# ボタン：編集・削除 %>
        <% if @task.user_id == current_user.id %>
          <%= link_to edit_task_path(@task) do %>
            &nbsp;<img src="https://img.icons8.com/ios/30/000000/edit-property.png"/>
          <% end %>
          <%= link_to task_path(@task), method: :delete, remote: true, data: { confirm: (t :tasks_delete_message) } do %>
            <img src="https://img.icons8.com/ios/30/000000/delete-trash.png"/>
          <% end %>
        <% end %>
      </h2>
      <br>
      <h5><span class="badge badge-pill badge-primary"><%= @task.category.name %></span></h5>
      <br>

      <%# シェア機能 %>
      <h6 class="ml-3">
        <% if @task.user_id == current_user.id %>
          <% if @task.task_shares.any? %>
            <%= icon('fas', 'project-diagram', style: "color: red;") %>
            <span class="badge badge-pill badge-danger">Shared</span>
            <% @share_members.each do |member| %>
              &nbsp;<%= link_to member.name, profile_path(member) %>さん
            <% end %>
            とタスクを共有しています。
          <% end %>
        <% elsif @task.task_shares.ids.include?(current_user.id) %>
          <%= icon('fas', 'project-diagram', style: "color: red;") %>
          <span class="badge badge-pill badge-danger">Shared</span>
          &nbsp;タスクの作成者は<%= link_to @task.user.name, profile_path(@task.user_id) %>さんです。
        <% end %>
      </h6>
      <br>
      <br>

      <%# ビュー：　タスク詳細 %>
      <h5>
        <%= render partial: 'descriptions/form', locals: { description: @description, task: @task } %>
        <%= t :tasks_description %>
      </h5>
      <div id="descriptions_area">
        <%= render partial: 'descriptions/index', locals: { descriptions: @descriptions } %>
      </div>
      <br>

      <%# ビュー：　サブタスク%>
      <h5>
        <%= render partial: 'subtasks/form', locals: { subtask: @subtask, task: @task } %>
        <%= t :tasks_subtask %>
      </h5>
      <div id="subtasks_area">
        <%= render partial: 'subtasks/index', locals: { subtasks: @subtasks } %>
      </div>
      <br>

      <%# ビュー：　タグ %>
      <h5>
        <% if @task.user_id == current_user.id %>
          <%= link_to edit_task_path(@task), class: "btn btn-link" do %>
            <%= icon('fas', 'tags') %>
          <% end %>
        <% elsif @task.task_shares.ids.include?(current_user.id) %>
          <%= link_to task_path(@task), class: "btn btn-link" do %>
            <%= icon('fas', 'tags') %>
          <% end %>
        <% end %>
        <%= t :tasks_tag %>
      </h5>
      <div class="tag-show">
        <% if @task.tags.any? %>
          <%= render @task.tags %>
        <% end %>
      </div>
      <br>
      <br>

      <%# ビュー：　期日 %>
      <h5>
        <% if @task.user_id == current_user.id %>
          <%= link_to edit_task_path(@task), class: "btn btn-link" do %>
            <%= icon('fas', 'calendar-alt') %>
          <% end %>
        <% elsif @task.task_shares.ids.include?(current_user.id) %>
          <%= link_to task_path(@task), class: "btn btn-link" do %>
            <%= icon('fas', 'calendar-alt') %>
          <% end %>
        <% end %>
        <%= t :tasks_term %>
      </h5>
      <div class="term-show">
        <%= @task.term %>
      </div>
      <br>

      <%# ビュー：　ファイル  %>
      <h5>
        <%= link_to task_path(@task), class: "btn btn-link" do %>
          <%= icon('fas', 'file-alt') %>
        <% end %>
        <%= t :tasks_file %>
      </h5>
      <%= render partial: 'attachments/index', locals: { attachments: @attachments } %>
      <%= render partial: 'attachments/form', locals: { attachment: @attachment, task: @task } %>
      <br>

      <%# ビュー：　コメント %>
      <h5>
        <%= link_to task_path(@task), class: "btn btn-link" do %>
          <%= icon('fas', 'comment') %>
        <% end %>
        <%= t :tasks_comment %>
      </h5>
      <div id="comments_area">
        <%= render partial: 'comments/index', locals: { comments: @comments } %>
      </div>
      <div class="comment mt-3">
        <%= render partial: 'comments/form', locals: { comment: @comment, task: @task } %>
      </div>
      <br>

    </div>

  <% else %>
    <h4><%= t :tasks_noshow %></h4>
  <% end %>
<% end %>
