<% visitor = notification.visitor %>
<% visited = notification.visited %>

<div class="card" style="font-size: 16px;">
  <ul class="list-group list-group-flush">
    <li class="list-group-item notification-list">
      <%= link_to visitor.name, profile_path(visitor) %><%= t :notifications_who %>
      <% case notification.action %>
        <% when 'follow' then %>
          <%= t :notifications_follow %>
        <% when 'comment' then %>
          <%= t :notifications_en_comment %>
          <% if notification.task.user_id == visited.id %>
            <%= link_to (t :notifications_yourtask), notification.task %>
          <% else %>
            <%= notification.task.user.name %><%= t :notifications_whosetask %>
          <% end %>
          <%= t :notifications_ja_comment %>
          <p class="text-muted mb-0">
            <%= Comment.find_by(id: notification.comment_id)&.body %>
          </p>
        <% end %>
      <div class="small.text-muted.text-right">
        <%= time_ago_in_words(notification.created_at).upcase %>
      </div>

    </li>
  </ul>
</div>
