<% visitor = notification.visitor %>
<% visited = notification.visited %>

<div class="card" style="width: 30rem; font-size: 16px;">
  <ul class="list-group list-group-flush">
    <li class="list-group-item notification-list">
      <%= link_to visitor.name, profile_path(visitor) %>さんが
      <% case notification.action %>
        <% when 'follow' then %>
          あなたをフォローしました
        <% when 'comment' then %>
          <% if notification.task.user_id == visited.id %>
            <%= link_to "あなたのタスク", notification.task %>
          <% else %>
            <%= notification.task.user.name %>さんのタスク
          <% end %>
          にコメントしました。
          <p class="text-muted mb-0">
            <%= Comment.find_by(id: notification.comment_id)&.body %>
          </p>
        <% end %>
      <div class="small.text-muted.text-right">
        <%= time_ago_in_words(notification.created_at).upcase %>
      </div>

    </li>
  </ul>
</div>
