<div class="container mt-5">
  <div class="col-12 col-lg-8">
    <h5 class="mb-3"><%= icon('fas', 'bell', style:"color: dodgerblue;") %>&nbsp;<%= t :notifications_notification %></h5>

    <% notifications = @notifications.where.not(visitor_id: current_user.id) %>
    <% if notifications.exists? %>
      <%= render @notifications %>
      <br>
      <%= paginate @notifications %>
    <% else %>
    <div class="card" style="font-size: 16px;">
      <ul class="list-group list-group-flush">
        <li class="list-group-item notification-list"><%= t :notifications_no_notification %></li>
      </ul>
    </div>
  <% end %>
  </div>
</div>
