<% descriptions.each do |description| %>
  <div class="card md-1" id="description-<%= description.id %>">
    <div class="card-body">
      <p class="card-text">
        <%= simple_format description.description, style: "font-size: 16px;" %>
      </p>
      <% if description.user_id == current_user.id %>
        <%= link_to edit_task_description_path(description.task, description) do %>
          <%= icon('fas', 'edit') %>
        <% end %>/
        <%= link_to task_description_path(description.task, description), method: :delete, remote: true, data: { confirm: "削除します。よろしいですか。" }, class: "destroy" do %>
          <%= icon('fas', 'trash-alt') %>
        <% end %>
      <% end %>  
    </div>
  </div>
<% end %>
