<%= form_with(model: [@task, @description] ) do |f| %>
  <div class="modal-body">
    <div class="form-group">
      <h5><%= f.label :description, "タスク詳細" %></h5>
      <%= f.text_area :description, class: "form-control" %>
    </div>
  </div>
  <div class="modal-footer btn-group">
    <%= f.submit "編集", class: "btn btn-primary btn-sm" %>
    <%= link_to "戻る", task_path(@task), class: "btn btn-danger btn-sm" %>
  </div>
<% end %>
