<div>
  <%= form_for tag do |f| %>
    <h5><%= icon('fas', 'tag', style:"color: dodgerblue") %>&nbsp;<%= f.label :name, (t :tags_form_label) %></h5>
    <%= f.text_field :name, class: "form-control" %>
    <br>
    <%= f.submit (t :tags_form_create), class: "btn btn-outline-primary" %>
  <% end %>
</div>
