<div class="container user-new">
  <div class="row">
    <div class="col-12 col-md-5 user-box1 mt-2">
      <div class="user-title mt-3">
        <h2>
          <%= icon('fas', 'fish', style: "color: dodgerblue;") %>
          LemonFishへログイン
        </h2>
      </div>
      <br>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <div class="form-group">
          <div class="field">
            <h6><%= f.label :name, "名前：" %></h6>
            <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control", placeholder: "名前を入力してください" %>
          </div>
        </div>
        <div class="form-group">
          <div class="field">
            <h6><%= f.label :email, "メールアドレス：" %></h6>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "メールアドレスを入力してください" %>
          </div>
        </div>
        <div class="form-group">
          <div class="field">
            <h6><%= f.label :password, "パスワード：" %></h6>
            <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "パスワードを入力してください" %>
          </div>
        </div>
        <br>
        <div class="actions">
          <%= f.submit "ログイン", class: "btn btn-outline-primary login" %>
        </div>
      <% end %>
      <br><br>

      <%= render "devise/shared/links" %>
      <br>
    </div>

    <div class="col-12 col-md-6 mt-2 user-box2">

      <div class="welcome-message mt-3">
        <h3>Lemonfishで<br>すべてのタスクを管理しよう</h3>
      </div>

      <div class="welcome-image">
        <%= embedded_svg("undraw_Scrum_board_re_wk7v.svg", class: "welcome-img") %>
      </div>

      <div class="actions">
        <%= link_to '簡単ログイン', users_guest_sign_in_path, method: :post, class: "btn btn-primary btn-lg btn-block" %>
      </div>
      <br>
    </div>
  </div>
</div>
