<div class="container">
  <div class="row">
    <div class="col-6 user-box">
      <div class="user-title">
        <h2>
          <%= icon('fas', 'lemon', style: "color: yellow;") %>
          LemonFishへログイン
        </h2>
      </div>
      <br>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <div class="field">
            <h6><%= f.label :name, "名前：" %></h6>
            <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control", placeholder: "名前を入力してください" %>
          </div>
        </div>
        <div class="form-group">
          <div class="field">
            <h6><%= f.label :email, "メールアドレス：" %></h6>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "メールアドレスを入力してください" %>
          </div>
        </div>
        <div class="form-group">
          <div class="field">
            <h6><%= f.label :password, "パスワード：" %></h6>
            <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "パスワードを入力してください" %>
          </div>
        </div>
        <div class="actions">
          <%= f.submit "ログイン", class: "btn btn-outline-primary btn-sm" %>
        </div>
      <% end %>
      <br>
      <div class="actions">
        <%= link_to '簡単ログイン', users_guest_sign_in_path, method: :post, class: "btn btn-primary" %>
      </div>
      <br>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
