<% visitor = activity.visitor %>
<% visited = activity.visited %>

<div class="card" style="width: 30rem; font-size: 16px;">
  <ul class="list-group list-group-flush">
    <li class="list-group-item activity-list">
      <% case activity.action %>
        <% when 'follow' then %>
          <%= link_to visited.name, profile_path(visited) %>
          さんをフォローしました
        <% when 'comment' then %>
          <% if activity.task.user_id == visitor.id %>
            <%= link_to activity.task.title, activity.task %>
          <% else %>
            <%= activity.task.user.name %>さんのタスク
          <% end %>
          にコメントしました
          <p class="text-muted mb-0">
            <%= Comment.find_by(id: activity.comment_id)&.body %>
          </p>
        <% end %>
      <div class="small.text-muted.text-right">
        <%= time_ago_in_words(activity.created_at).upcase %>
      </div>
    </li>
  </ul>
</div>
<%= paginate @activities %>
